<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /BTT/
  
  # If a directory or a file exists, use it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Otherwise forward it to index.php
  RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>

# Ensure PHP is processed
<IfModule mod_php.c>
  AddType application/x-httpd-php .php
</IfModule>

# Directory Index
DirectoryIndex index.php index.html
